body {
    background-color: black;
    color: white;
}

h1,
h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yellow {
    background-color: yellow;
    color: black;
}

img {
    height: 240px;
    width: 480px;
}

td {
    text-align: center;
}

.menu {
    margin-left: auto;
    margin-right: auto;
}

.menu1:hover {
    color: black;
    background-color: yellow;
}

.menu_head {
    background-color: yellow;
    color: black;
}

a {
    text-decoration: none;
    color: yellow;
}