.forecast-wrapper{ 
    width: 70vw;
    display: flex; 
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
 flex-direction: column; 
}
.forecast-info{ 
    width : 95%;
    background-color : #fff;
    height : 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.exact-temp{
    margin : 2px;
    padding : 10px;
}

.forecast-day{
margin : 2px;
padding : 10px;
}

.rec.rec-dot{
    display: none;
}