*{
	background-color: #e6e6e6;
	font-family: 'Sora';
}
.button{
padding: 5px;
width: 60px;
height: 60px;
border-radius: 50px;
background: #e6e6e6;
box-shadow:  6px 6px 13px #d6d6d6,
             -6px -6px 13px #f6f6f6;
border: none;
outline: none;
font-size: 20px;
text-align: center;
vertical-align: center;
}
.app{
	width: 40vh;
	padding: 20px;
	border-radius: 50px;
	background: #e6e6e6;
	box-shadow:  28px 28px 56px #d6d6d6,
             -28px -28px 56px #f6f6f6;
}
.top-bar{
	display: flex;
	justify-content: space-between;
	font-family: 'sans-serif' !important;
}
.main{
	justify-content: center;
	display: flex;
	align-items: center;
	padding: 10vh;

}
.music-bar{
	justify-content: center;
	display: flex;
	align-items: center;
	padding: 3vh;
}
.music-picture{
	padding: 10px;
	border-radius: 140px;
	width: 180px;
	height: 180px;
background: #e6e6e6;
box-shadow:  28px 28px 56px #c8c8c8,
             -28px -28px 56px #ffffff;

}
.music-picture img{
	border-radius: 140px;
	width: 180px;
	height: 180px;

}
.label{
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 126px;

box-shadow:  35px 35px 95px #e1e1e1,
             -35px -35px 95px #ebebeb;
}
.artist{
	justify-content: center;
	align-items: center;
	display: block;
	background: none;
	text-align: center;
}
.artist h3,.artist h5{
	background: none;
}
.artist h5{
	color: grey;
}
.track{
	width: 31vh;
	height: 15px;
	
	margin:4vh 4vh;
	border-radius: 50px;
background: #e6e6e6;
box-shadow:  26px 26px 46px #b3b3b3,
             -26px -26px 46px #ffffff;
}
.track input{
	width: 31vh;

}

input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  width: 100%;
  background: #e6e6e6;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}
.controls{
	display: flex;
	justify-content: space-between;
	margin: 0 20px;
	padding: 40px 0px;
}
.hidden{
	display: none;
}