@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

html {
  font-size: 80%;
}

.main {
  background-color: rgb(150, 241, 211);
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
}

.inner {
  background-color: white;
  width: 40vw;
  padding: 30px 50px;
  box-shadow: 0px 10px 30px -0.7rem rgb(0, 0, 0);
  border-radius: 10px;
}

.inner h2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 1rem 0 2rem 0;
}
.inner li {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  list-style: none;
}
.main input {
  cursor: pointer;
}

.main button {
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  padding: 0.5rem 2rem;
  display: block;
  margin: auto;
  outline: none;
  border: none;
  margin-top: 3rem;
  background-color: rgb(128, 150, 218);
  color: white;
}
#Submit:hover {
  background-color: rgb(91, 122, 216);
}

#ScoreShow {
  background-color: #d6a5e9;
  margin-top: 3rem;
  padding: 3rem 4rem;
  box-shadow: 0px 10px 30px -0.7rem rgb(0, 0, 0);
}
.score {
  display: none;
}

.btn {
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  padding: 0.5rem 2rem;
  display: block;
  margin: auto;
  outline: none;
  border: none;
  margin-top: 3rem;
  background-color: rgb(128, 150, 218);
  color: white;
}
.btn:hover {
  background-color: hotpink;
}

#YourScore {
  font-size: 20rem;
}

li:hover {
  background-color: #d1e8e4;
  padding: 0px;
  border-radius: 5px;
}
#image {
  height: 100px;
  width: 100px;
  display: grid;
  place-items: center;
}
