@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
}
body{
    background: url(https://www.liquidweb.com/static/acd8c28ec44a86063710b57f2f82496e/contact-form.jpg);
    margin:0
}
.form{
    width:340px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    position:relative}
h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid black
}
p{
    color: black;
    font-weight: bold;
}
input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
input:focus{
    border-bottom:2px solid #78788c
}
p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}
button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-weight: bold;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;
    transition:all .3s}

button:hover{
    background: black;
    color:#fff
}

