@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');



body {
    font-family: 'IBM Plex Mono', monospace;

    background-color: rgb(250 174 43);
}


button {
    background-color: #e2e8f0;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 10px 10px rgb(2, 2, 2);
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-color: #c1c8d3;
}

.card {
    margin: 120px auto;
    background-color: #11C5C6;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 10px 10px rgb(2, 2, 2);
    border-radius: 5px;
}

input[type=text] {
    border: 2px solid #000000;
}

input[type=password] {
    border: 2px solid #000000;
}