.main {
  height: 100vh;
  display: flex;
}
.static-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  width: 318px;
  height: 400px;
  background-color: #EFF0F3;
  border-radius: 16px;
  padding: 10px 16px 33px;
  margin: auto;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.news-img img {
  width: 318px;
  height: 168px;
  border-radius: 16px 16px 0px 0px;
}

.content .news-header {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #081f32;
  line-height: 33px;
}

.content .description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #374a59;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #007ae9;
}
