.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

.cert-image {
  width: "auto";
  height: 50px;
  border-radius: 50%;
  margin: auto;
  display: inline;
  margin-bottom: 20px;
}

.form-label-group {
  margin-top: 10px;
}

.inner {
  margin: 20px;
}

.short-input {
  width: 50%;
}

.experience-block {
  margin-top: 20px;
}

.center {
  margin: auto;
}
