@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');



body {
    font-family: 'IBM Plex Mono', monospace;
}


button {
    background-color: #E1FFEE;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 10px 10px rgb(2, 2, 2);
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-color: #A5F1E9;
}

.card-input {
    background-color: #FFEEAF;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    border: 1px solid #000000;
    box-shadow: 10px 10px rgb(2, 2, 2);
    border-radius: 5px;
}

.card-plain {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    border: 1px solid #000000;
    box-shadow: 10px 10px rgb(2, 2, 2);
    border-radius: 5px;
    background-image: url('line-bg.png');

}

/* .bg-image {
    background-color: #e5e5f7;
    opacity: 0.4;
    background-size: 16px 16px;
    background-image: repeating-linear-gradient(45deg, #fffcbf 0, #fffcbf 1.6px, #e5e5f7 0, #e5e5f7 50%);
} */


input[type=text],
input[type=password],
input[type=email] {
    border: 1px solid #000000;
}

input::placeholder {
    font-family: 'IBM Plex Mono', monospace;
}

@media only screen and (max-width: 992px) {
    .message {
        display: none;
    }
}